[submodule "fractal"]
	path = fractal
	url = git://github.com/terraforma/fractal.git
[submodule "libterra"]
	path = libterra
	url = git://github.com/terraforma/libterra.git
[submodule "skyscraper"]
	path = skyscraper
	url = git://github.com/terraforma/skyscraper.git
[submodule "wires"]
	path = wires
	url = git://github.com/terraforma/wires.git
